/*主体内容样式*/
#content{
	border:1px solid #AAA;
	margin:10px auto;
    width:800px;
}
.global_module h3 { 
	height:26px; 
	background:#3B5998;
	color:#FFF; 
	line-height:26px; 
	text-indent:6px;
}
.pro_detail { 
	width:780px; 
	height:auto;
	overflow:hidden; 
	padding:10px;
}
/*左列*/
.pro_detail_left { 
	width:380px;
	float:left;
	overflow:hidden;
}

.pro_detail_left .jqzoom{
	border:1px solid #BBB;
	float:left;
	position:relative;
	padding:0px;
	cursor:pointer;
}

.pro_detail_left .fs {
	width:300px;
	height:300px; 
}

.pro_detail_left span { 
	display:block;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	width:310px;
	clear:both; 
}
.pro_detail_left span a:hover{ 
	text-decoration:none;
}
.pro_detail_left ul.imgList{
	height: 80px;
}
.pro_detail_left ul.imgList li { 
	float:left;
	margin-right:10px;  
}
.pro_detail_left ul.imgList li img { 
	width:60px; 
	height:60px; 
	padding:1px;
	background:#EEE;
	cursor:pointer; 
}
.pro_detail_left ul.imgList li img:hover { 
	padding:1px; 
	background:#999; 
}
.pro_detail_left .tab { 
	width:100%;
}

.pro_detail_left .tab_menu { 
	clear:both;
}
.pro_detail_left .tab_menu li { 
	float:left; 
	text-align:center; 
	cursor:pointer; 
	list-style:none; 
	padding:1px 6px; 
	margin-right:4px; 
	background:#F1F1F1;
	border:1px solid #898989; 
	border-bottom:none;
}
.pro_detail_left .tab_menu li.hover { 
	background:#DFDFDF;
}
.pro_detail_left .tab_menu li.selected { 
	color:#FFF; 
	background:#6D84B4;
}
.pro_detail_left .tab_box { 
	clear:both; 
	border:1px solid #898989;
}
.pro_detail_left .hide{
	display:none
}


/*右列*/
.pro_detail_right { 
	width:380px;  
	float:left; 
	margin:10px;
}

.pro_detail_right .color_change { 
	width:380px;
	font-weight:bold;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}
.pro_detail_right .color_change ul li { 
	float:left; 
	margin-right:10px; 
}
.pro_detail_right .color_change img { 
	width:30px; 
	height:30px; 
	padding:1px; 
	background:#EEE;
	border:1px solid #BBB;cursor:pointer; 
}
.pro_detail_right .color_change img:hover { 
	padding:1px; 
	background:#999; 
}
.pro_detail_right .pro_size {
	width:380px;
	font-weight:bold;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}
.pro_detail_right .pro_size ul li{
	float:left; 
	margin-right:5px; 
}
.pro_detail_right .pro_size ul li span{ 
	display:block; 
	margin-right:6px; 
	padding:1px 12px; 
	border:1px solid #AAA;
	cursor:pointer; 
}
.pro_detail_right .pro_size ul li span:hover {
	background:#CCC; 
}
.pro_detail_right .pro_num { 
	width:380px;
	font-weight:bold;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}
.pro_detail_right .pro_price { 
	width:380px;
	font-weight:bold;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}
.pro_detail_right .pro_rating { 
	width:380px;
	font-weight:bold;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}
/* 评分css */
.rating{
	width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/star-matrix.gif) no-repeat 0 0;
}
.nostar {background-position:0 0}
.onestar {background-position:0 -16px}
.twostar {background-position:0 -32px}
.threestar {background-position:0 -48px}
.fourstar {background-position:0 -64px}
.fivestar {background-position:0 -80px}
ul.rating li {
	cursor: pointer;
	float:left;
	text-indent:-999em;
}
ul.rating li a {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li.one a {left:0}
ul.rating li.two a {left:16px;}
ul.rating li.three a {left:32px;}
ul.rating li.four a {left:48px;}
ul.rating li.five a {left:64px;}
ul.rating li a:hover {
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	left:0;	
	background: url(../images/star-matrix.gif) no-repeat 0 0
}
ul.rating li.one a:hover {background-position:0 -96px;}
ul.rating li.two a:hover {background-position:0 -112px;}
ul.rating li.three a:hover {background-position:0 -128px}
ul.rating li.four a:hover {background-position:0 -144px}
ul.rating li.five a:hover {background-position:0 -160px}

/*jQzoom*/
div.zoomdiv {
	z-index:	999;
	position                : absolute;
	top:0px;
	left:0px;
	width                   : 200px;
	height                  : 200px;
	background: #ffffff;
	border:1px solid #CCCCCC;
	display:none;
	text-align: center;
	overflow: hidden;
}
div.jqZoomPup {
	z-index                 : 999;
	visibility              : hidden;
	position                : absolute;
	top:0px;
	left:0px;
	width                   : 50px;
	height                  : 50px;
	border: 1px solid #aaa;
	background: #ffffff url(../images/zoomlens.gif) 50% top  no-repeat;;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity=50);
}
